
@{
    ViewBag.Title = "Смена пароля";
}

<h2>Смена пароля</h2>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div>
        @ViewBag.Message
    </div>
    <div>
        Введите старый пароль:
    </div>
    <input type="password" name="OldPassword" />
    <div>
        Введите новый пароль (от 3 до 30 символов):
    </div>
    <input type="password" name="NewPassword1" />
    <div>
        Повторите пароль:
    </div>
    <input type="password" name="NewPassword2" />
    <p><input type="submit" value="Отправить" /></p>
}
