
@{
    ViewBag.Title = "Login";
}

<h1>Авторизация</h1>
<p>Введите свой логин и пароль</p>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        @ViewBag.Message
    </div>
    <div>
        Логин:
    </div>
    <input type="text" name="login.Name" />
    <div>
        Пароль:
    </div>
    <input type="password" name="login.Password" />
    <p><input type="submit" value="Войти" /></p>
}