.menu{
	width: 200px;
	height: inherit;
	float: left;
	margin-right: 10px;
}

.login{
	height: inherit;
	width: 200px;
	float: right;
	margin-left: 10px;
}

.main{
	height: 100%;
}

.left{
    float: left;
}
.data{
    float: left;
}